@import url('https://fonts.googleapis.com/css?family=Cabin');

.wrapper {
    background-color: #303952;
    font-family: 'Cabin', sans-serif;
    width: 100vw;
    height: 100vh;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h4 {
    color: #fff;
}

.container > ul, .container > div {
    width: 100%;
}

.search-box button {
    background-color: #fff;
    border: 1px solid #ced4da;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;    
    padding-left: 10px;
    min-width: 315px;
}
.title > div, .title button {
    margin-bottom: 2px;
}

.list-check-all{
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: rgb(50, 47, 71);
    border: 1px solid rgba(0,0,0,.125);
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #fff;
}

/* Sidenav */

.brand {
    cursor: pointer;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  
  }
  
  .sidenav a:hover{
    color: #f1f1f1;
  }
  
  .sidenav .close-sidenav {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }


/* End Sidenav */


.container-list .list-group {
    height: 500px;
    overflow: auto;

}

.scrollable {
    overflow-x: auto;  
}
.scrollable > div {
    min-width: 315px;
}

.grid-col-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}



@media (min-width: 768px) {
    /* .container > ul, .container > div {
        width: 698px;
    } */
}

    /* width */
    ::-webkit-scrollbar {
    width: 10px;
    height: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
    background: #888; 
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
    background: #555; 
    }