ul {
    padding-left: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
li {
    list-style-type: none;
    padding: 10px 10px;
    transition: all 0.3s ease;    
    transform: transform 1s;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}
.card {
    width: 125px;
    height: 100px;
    border-radius: 7px;
    margin: 5px;
    text-align: center;
    cursor: pointer;
    position: relative;
    color: #fff;
    font-weight: 600;
    font-size: 13px;
    -webkit-box-shadow: 9px 10px 22px -8px rgba(209, 193, 209, .5);
    -moz-box-shadow: 9px 10px 22px -8px rgba(209, 193, 209, .5);
    box-shadow: 9px 10px 22px -8px rgba(209, 193, 209, .5);    
    transform: transform 1s;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

.front, .back {    
    background-color: #2c3e50;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}


.back { 
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}

li:nth-child(-n+3) .front, li:nth-child(-n+3) .back {
    background-color: #e65f51;
}

li:nth-child(2n+1) .front, li:nth-child(2n+1) .back {
    background-color: #a17de9;
}

li:nth-child(4n) .front, li:nth-child(4n) .back {
    background-color: #feca34;
}

li:nth-child(5n-2) .front, li:nth-child(5n-2) .back {
    background-color: #51aae5;
}

li:nth-child(4n+4) .front, li:nth-child(4n+4) .back {
    background-color: #feca34;
}

li:nth-child(-7n+7) .front, li:nth-child(-7n+7) .back {
    background-color: #e46055;
}

.volume-icon {
    position: absolute;
    left: 0;
    top: 0;
    padding: 6px 4px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.delete-card {
    position: absolute;
    right: 0;
    top: 0;
    padding: 6px 4px;
    opacity: .4;
    transition: all 0.5s ease;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.delete-card:hover, .error {
    opacity: 1;
    transform: rotate(360deg);
}
.hidden {
    display: none;
}

@media (min-width: 580px) {
    .card {
        width: 250px;
        height: 200px;
        font-size: 20px;
    }
    .volume-icon {        
        padding: 10px 15px;    
    }
    .delete-card {
        padding: 10px 15px; 
    }
}