.card {
    width: 200px;
    height: 200px;
    position: relative;
    transform: transform 1s;
    transform-style: preserve-3d;
    margin: 50px;
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;

}

.front {
    background: #000;
    color: #fff;
}

.back {
    background: red;
    transform: rotateY(180deg);
}