<div class="container">
    <div class="search-box">
        <input class="search-input" type="text" [(ngModel)]="query" (keyup.enter)="search($event)" placeholder="search...">
        <span class="icon-clear" *ngIf="query" (click)="query = ''">&times;</span>
    </div>

    <p class="search-key" *ngIf="query">search key: "{{ query }}"</p>

    <ul class="list">        
        <li *ngFor="let group of data; let index = index">
            <a routerLink="/learn/{{ group._id }}"> {{ group.name}} </a>
        </li>
    </ul>
</div>